.headerContainer {
  height: 5rem;
  border-bottom: 1px solid var(--gray-800);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0 1rem;

  nav {
    margin-left: 5rem;
    height: 5rem;

    a {
      display: inline-block;
      height: 5rem;
      line-height: 5rem;
      color: var(--gray-300);
      position: relative;
      transition: color 500ms;

      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active::after {
        content: '';
        height: 3px;
        width: 100%;
        border-radius: 30px 30px 0 0;
        position: absolute;
        bottom: 1px;
        left: 0;
        background: var(--red-500);
      }

      &+a {
        margin-left: 3rem;
      }

      &:hover {
        color: var(--white);
      }

    }
  }

  button {
    margin-left: auto;
  }
}